Source: gtkterm2
Section: x11
Priority: optional
Maintainer: Oleg Pudeyev <oleg@bsdpower.com>
Build-Depends: debhelper (>=9),
 libatk1.0-dev,
 libc6-dev,
 libcairo2-dev,
 libfontconfig1-dev,
 libfreetype6-dev,
 libgdk-pixbuf2.0-dev,
 libglib2.0-dev,
 libgtk2.0-dev,
 libpango1.0-dev,
 libvte9-dev,
 libx11-dev,
 libxext-dev
Standards-Version: 3.9.6
Homepage: https://github.com/p/gtkterm2
#Vcs-Git: git://anonscm.debian.org/collab-maint/gtkterm2.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/gtkterm2.git

Package: gtkterm2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
  libatk1.0-0,
  libc6,
  libcairo2,
  libfontconfig1,
  libfreetype6,
  libgdk-pixbuf2.0-0,
  libglib2.0-0,
  libgtk2.0-0,
  libpango-1.0-0,
  libpangocairo-1.0-0,
  libpangoft2-1.0-0,
  libvte9,
  libx11-6,
  libxext6
Description: Simple GTK2 terminal with tabs
